.g-user-text
  if user
    a.g-user-dropdown-link(data-toggle="dropdown", data-target="#g-user-action-menu")
      | #[i.icon-user] #{user.get('login')}
      i.icon-down-open
    #g-user-action-menu.dropdown
      ul.dropdown-menu(role="menu")
        li(role="presentation")
          a.g-my-folders(href=`#user/${user.id}`)
            i.icon-folder
            | 我的文件
        li(role="presentation")
          a.g-my-settings(href=`#useraccount/${user.id}/info`)
            i.icon-cog
            | 我的账户
        li.divider(role="presentation")
        li(role="presentation")
          a.g-logout
            i.icon-logout
            | 退出登陆
  else
    if registrationPolicy !== 'closed'
      a.g-register 注册
      .g-or-text or
    a.g-login 登陆
      i.icon-login
