.modal-dialog
  .modal-content
    form#g-reset-password-form.modal-form(role="form")
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        h4.modal-title 找回密码
      .modal-body
        .g-password-reset-explanation
          | 如果忘记您的密码，请在此输入电子邮箱地址。
          | 您将会收到一封带有临时链接的邮件，
          | 通过它您可以重置密码。
        .form-group
          label.control-label(for="g-email") 电子邮箱地址
          input#g-email.input-sm.form-control(type="text", placeholder="Enter your email")
        .g-validation-failed-message
        .g-bottom-message
          if registrationPolicy !== 'closed'
            a.g-register-link  注册
            |  |
          a.g-login-link  登陆
      .modal-footer
        a.btn.btn-default(data-dismiss="modal") 关闭页面
        button#g-reset-password-button.btn.btn-primary(type="submit")
          i.icon-mail
          |  确认
